.footer{
    width: 100%;
    padding: 20px 0px;
    border-top: 1px solid dimgrey;
}
.footerBox{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footerWhereTitle{
    font-weight: 800;
    padding-bottom: 10px;
}

.footerContactBox{
    display: flex;
}

.footerContactChairman{
    font-weight: 800;
    padding-right: 15px;
    padding-bottom: 10px;
}

.footerContactViceChairman{
    font-weight: 800;
    padding-right: 15px;
}