.header {
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid grey;
}

.headerIn {
    width: 1100px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.navBar {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navMenu:hover .subMenu1 {
    opacity: 1;
    visibility: visible;
}
.navMenu:hover .subMenu2 {
    opacity: 1;
    visibility: visible;
}


.subMenu1 {
    position: absolute;
    margin: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
}
.subMenu2 {
    position: absolute;
    margin: 10px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
}
