@import "../css/header.css";
@import "../css/hackathon.css";
@import "../css/footer.css";
@import "../css/contact.css";
@import "../css/organizer.css";
@import "../css/home.css";

* {
    box-sizing: border-box;
}

a {
    color : black;
}

html{
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
